@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../img/SubirBorrar_Foto_Background.png');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2c3e50;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card-subtitle {
    font-size: 1rem;
    color: #34495e;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
}

.form-label {
    font-weight: 500;
    color: #2c3e50;
}

.form-control {
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    font-size: 1.1rem;
    font-weight: bold;
    background: #3498db;
    border: none;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: #2980b9;
}