@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;;
    height: 100%;
    margin: 0;
}

.main-container {
    border: 20px solid rgba(171, 183, 183, 0.9);
    min-height: 100vh;
    background-image: url(../img/background_img.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    font-size: 85px;
    padding: 15px;
    padding-bottom: 30px;
    color: #FFF;
    text-align: center;
    background: rgba(171, 183, 183, 0.3);
    border-radius: 15px;
    margin: 20px auto 20px auto;
    width: fit-content;
    // text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    text-shadow: 4px 3px 0px rgba(171, 183, 183, 1), 9px 8px 0px rgba(0,0,0,0.15);
}

.slogan {
    font-size: 30px;
    color: #FFF;
    letter-spacing: 3px;
    background: rgba(171, 183, 183, 0.3);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px auto;
    width: fit-content;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.sub-titles {
    color: #FFF;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 10px;
    background: rgba(171, 183, 183, 0.2);
    border-radius: 10px;
    margin: 40px auto;
    width: 80%;
    max-width: 350px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-container {
    margin-top: 25px;
}

.btn-xl {
    font-size: 24px;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    border: 2px solid rgba(171, 183, 183, 0.3);
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.btn-xl:hover {
    background: #00b4d8;
    color: #FFF;
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}