@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    font-family: "Roboto Condensed", sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../img/Fondo.jpg);
    background-size: cover;
    background-position: center;
    border: 20px solid rgba(171, 183, 183, 0.9);
}

header {
    position: relative;
    z-index: 3; /* Ensure header is above the background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(171, 183, 183, 0.65);
    width: 98%;
    color: black;
    padding: 10px;
    margin: 10px auto;
}

#logo {
    font-size: 40px;
    color: black;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    padding-left: 15px;
    font-style: italic;
    font-weight: bold;
}

#buttons .btn {
    font-size: 20px;
    margin-right: 15px;
    font-weight: bold;
}

#buttons .btn:hover {
    transform: scale(1.05);
}

#welcome-message {
    font-size: 50px;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
    color: black;
    margin-bottom: 20px;
}

#profile-image-container {
    max-width: 500px;
    margin: 0 auto;
}

#profile-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

#profile-image:hover {
    transform: scale(1.05);
}

.container {
    position: relative;
    z-index: 2;
    color: black;
}