@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
}

body, html {
    height: 100%;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/Mi_Perfil_Background.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
    border: 20px solid rgba(171, 183, 183, 0.9);
}


#logo {
    font-size: 40px;
    color: black;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    padding-left: 15px;
    font-style: italic;
    font-weight: bold;
}

#buttons {
    display: flex;
}

.btn:hover {
    transform: scale(1.05);
}

#buttons .btn {
    margin-right: 10px;
    font-size: 20px; 
    font-weight: bold;
}

#content {
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

#profile-image-container {
    max-width: 20%; 
    margin: 20px auto; 
    position: relative;
}

#profile-image {
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 50%;
    display: block;
    text-align: center;
}

#profile-image-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.container-fluid {
    position: relative;
    z-index: 2;
}

#content p {
    font-size: 50px;
}

.main-title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 375px;
    background: rgba(171, 183, 183, 0.2);
    margin-top: 50px;
    margin-bottom: 5px;
    border-radius: 50px;
    letter-spacing: 5px;
    text-shadow: 4px 3px 0px rgba(171, 183, 183, 1), 9px 8px 0px rgba(0,0,0,0.15);
}

.slogan {
    text-align: center;
    letter-spacing: 3px;
    width: 475px;
    background: rgba(171, 183, 183, 0.2);
    margin: 0px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    border-radius: 50px;
}

.sub-titles {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(171, 183, 183, 0.2);
    text-align: center;
    letter-spacing: 2px;
    padding: 2.5px;
    margin-top: 100px;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    border-radius: 25px;
}

.btn-container {
    text-align: center;
    margin-top: 65px;
}

.btn-xl {
    padding: 10px 20px;
    letter-spacing: 2px;
    font-family: 'Vina Sans', sans-serif;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    font-size: 35px;
    border-radius: 10px;
    background: rgba(171, 183, 183, 0.9) !important;
    border-color: rgba(171, 183, 183, 0.25) !important;
    border-radius: 15px;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(171, 183, 183, 0.65);
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding: 10px;
}

.rectangle {
    background-color: rgba(171, 183, 183, 0.65);
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.left-section {
    flex: 1;
    text-align: center;
    padding-right: 20px;
}

.right-section {
    flex: 22;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.right-container {
    overflow-y: auto;
    flex: 2.5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgba(90, 90, 90, 0.7);
}

.left-section p {
    letter-spacing: 2px;
    font-size: 24px;
}

.right-container p {
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 24px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-container .editable {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px; 
    box-sizing: border-box;
    margin-right: 20px; 
}

.edit-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 5px;
}

.edit-container .edit-label {
    font-size: 24px;
    margin-right: 20px;
    white-space: nowrap;
}

.right-container button {
    padding: 15px;
    font-size: 20px;
    background-color: rgba(171, 183, 183, 0.65); 
    color: black; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: rgba(71, 71, 71, 0.65) 2px solid;
    white-space: nowrap;
}

.right-container button:hover {
    background-color: rgba(90, 90, 90, 0.9); 
}

.right-container button[contenteditable="true"] {
    outline: none;
    cursor: text;
    width: 300px;
    padding: 10px;
    margin-right: 20px;
}

.right-container button:last-child {
    margin-bottom: 0; 
}

.info {
    text-align: center;
    letter-spacing: 2px;
    margin: 5px;
    margin-left: 13px;
}