@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
}

body, html {
    height: 100%;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/Background_Explorar.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
    border: 20px solid rgba(171, 183, 183, 0.9);
}

header {
    position: relative;
    z-index: 3; /* Ensure header is above the background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(171, 183, 183, 0.65);
    width: 98%;
    color: black;
    padding: 10px;
    padding-top: 0px;
    margin: 10px auto;
    margin-top: 0px;
}

#logo {
    font-size: 40px;
    color: black;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    padding-left: 15px;
    font-style: italic;
    font-weight: bold;
}

#buttons {
    display: flex;
}

#buttons .btn {
    margin-right: 10px;
    font-size: 20px; 
    font-weight: bold;
}

#buttons .btn:hover {
    transform: scale(1.05);
}

.btn:hover {
    transform: scale(1.05);
}

#content {
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

#profile-image-container {
    max-width: 20%; 
    margin: 20px auto; 
    position: relative;
}

#profile-image {
    max-width: 100%; 
    height: auto;
    border-radius: 50%;
    display: block;
    border: 5px rgba(255,255,255,0.7) solid;
    margin-top: 10px;
}

#profile-image-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.container-fluid {
    position: relative;
    z-index: 2;
}

#content p {
    font-size: 50px;
}

.main-title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 375px;
    background: rgba(171, 183, 183, 0.2);
    margin-top: 50px;
    margin-bottom: 5px;
    border-radius: 50px;
    letter-spacing: 5px;
    text-shadow: 4px 3px 0px rgba(171, 183, 183, 1), 9px 8px 0px rgba(0,0,0,0.15);
}

.slogan {
    text-align: center;
    letter-spacing: 3px;
    width: 475px;
    background: rgba(171, 183, 183, 0.2);
    margin: 0px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    border-radius: 50px;
}

.sub-titles {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(171, 183, 183, 0.2);
    text-align: center;
    letter-spacing: 2px;
    padding: 2.5px;
    margin-top: 100px;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    border-radius: 25px;
}

.btn-container {
    text-align: center;
    margin-top: 65px;
}

.btn-xl {
    padding: 10px 20px;
    letter-spacing: 2px;
    font-family: 'Vina Sans', sans-serif;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    font-size: 35px;
    border-radius: 10px;
    background: rgba(171, 183, 183, 0.9) !important;
    border-color: rgba(171, 183, 183, 0.25) !important;
    border-radius: 15px;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.rectangle {
    background-color: rgba(171, 183, 183, 0.65);
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.left-section {
    flex: 1;
    text-align: center;
    border-right: 5px solid rgba(90, 90, 90, 0.7);
    letter-spacing: 2px;
    font-size: 24px;
    padding-right: 15px;
    white-space: normal;
}

.right-section {
    flex: 2;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    letter-spacing: 1.5px;
    font-size: 18px;
}

.right-container {
    overflow-y: auto;
    flex: 2.5;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(90, 90, 90, 0.7);
}

.square-image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.right-section {
display: flex;
flex-wrap: wrap;
}

.image-group {
width: 33.33%;
padding: 10px;
}

.image-group p {
margin-top: 10px;
}

.image-info {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.imageInfo-left {
    padding: 0px;
    margin: 0px;
    flex: 1;
    text-align: center;
}

.imageInfo-right {
    padding: 0px;
    margin: 0px;
    flex: 1;
    text-align: center;
}

.small-profile-image {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.7);
}

.info {
    text-align: center;
    letter-spacing: 2px;
    margin: 5px;
}

.col {
    margin-bottom: 5px;
}