@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
}

body, html {
    height: 100%;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-title {
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 3px 0px rgba(171, 183, 183, 1), 9px 8px 0px rgba(0,0,0,0.15);
}

.card-subtitle {
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}